.App {
  text-align: center;
  background-color: mintcream;
  height: 100vh;
}

.hangmanHeader {
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.btn-dark {
margin: 10px;
 
}

p {
  font-weight: 500;
  font-size: 1.2rem;
}
